name: Renovate - Cached

on:
  schedule:
    - cron: "0 */4 * * *" # every 4 hours
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ secrets.PRIVATE_APP_ID }}
          private-key: ${{ secrets.PRIVATE_APP_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Cache Renovate Repository
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: /tmp/renovate/cache/renovate/repository
          key: renovate-repository-${{ github.run_id }}
          restore-keys: |
            renovate-repository-

      - name: Restore Permissions
        run: |
          if [ -d /tmp/renovate ]; then
            echo "fixing renovate perms"
            sudo chown -R 12021:0 /tmp/renovate/
          fi

      - name: Renovate Action
        uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        env:
          LOG_LEVEL: "info"
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_TOPICS: "managed-by-renovate"
          RENOVATE_PLATFORM: "github"
          RENOVATE_PLATFORM_COMMIT: "true"
          RENOVATE_REPOSITORY_CACHE: "enabled"
        with:
          token: "${{ steps.app-token.outputs.token }}"

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@f72ff1a1336129f29bf0166c0fd0ca6cf1bcb38c # v1
