name: Schedule - Renovate

on:
  schedule:
    - cron: "0,30 * * * *"
  workflow_dispatch:
    inputs:
      repoCache:
        description: "Reset or disable the cache?"
        type: choice
        default: enabled
        options:
          - enabled
          - disabled
          - reset

env:
  cache_archive: renovate_cache.tar.gz
  cache_dir: /tmp/renovate/cache/renovate/repository
  cache_key: renovate-cache

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.PRIVATE_APP_ID }}
          private-key: ${{ secrets.PRIVATE_APP_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Download Renovate Cache
        uses: dawidd6/action-download-artifact@v11
        if: github.event.inputs.repoCache != 'disabled'
        continue-on-error: true
        with:
          github_token: "${{ steps.app-token.outputs.token }}"
          name: ${{ env.cache_key }}
          path: cache-download

      - name: Extract Renovate Cache
        run: |
          set -x
          if [ ! -d cache-download ] ; then
            echo "No cache found."
            exit 0
          fi

          mkdir -p $cache_dir
          tar -xzf cache-download/$cache_archive -C $cache_dir

          sudo chown -R 12021:0 /tmp/renovate/
          ls -R $cache_dir

      - name: Renovate Action
        uses: renovatebot/github-action@v44.1.0
        env:
          LOG_LEVEL: "debug"
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_TOPICS: "managed-by-renovate"
          RENOVATE_PLATFORM: "github"
          RENOVATE_PLATFORM_COMMIT: "true"
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Compress Renovate Cache
        run: |
          ls $cache_dir
          tar -czvf $cache_archive -C $cache_dir .

      - name: Upload Renovate Cache
        uses: actions/upload-artifact@v6
        if: github.event.inputs.repoCache != 'disabled'
        with:
          name: ${{ env.cache_key }}
          path: ${{ env.cache_archive }}
          retention-days: 1

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
